.app {
    background: #091f43;
    min-height: 100vh;
}

.app-card {
    background: #ffffff;
    max-width: 400px;
    min-width: 375px;
    border-radius: 8px;
}

header {
    font-size: 28px;
    color: #091f43;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-weight: 500;
}

input {
    padding: 16px;
    height: 55px;
    font-size: 24px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input::placeholder {
    color: #bfbfbf;
}

button {
    background: #ed2144;
    height: 55px;
    border: none;
    font-size: 24px;
    border-radius: 8px;
    color: white;
}

.success-msg {
    color: #155724;
    background: #d4edda;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}

.error-msg {
    color: #721c24;
    background: #f8d7da;
    border-radius: 5px;
    padding: 12px;
    margin: 12px;
}

.temperature {
    font-size: 60px;
    font-weight: 700;
    line-height: normal;
}

.description,
.location {
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}

footer {
    border-top: 1px solid #ccc;
}

.feels_like {
    padding: 16px;
}

.humidity {
    border-left: 1px solid #ccc;
    padding: 16px;
}

.weatherImage {
    max-width: 125px;
}
